.stock {
    font-weight: bold;
    font-size: 25px;
    color: green;
}

button {
    border: none;
    border-radius: 20px;
    cursor: pointer;

    width: 100px;
    height: 24px;

    color: black;
}

.add {
    background-color: yellow;
}

.buy {
    background-color: orange;
}