.example-3 {
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

    width: 300px;

    display: flex;
    flex-direction: column;

    margin: 0px;
}

.person-info {
    display: flex;    
    flex-direction: row;
    align-items: center;
    border: none;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}

.info {
    margin-left: 5px;
    margin-top: 0px;
}

.follow-button {
    margin-left: auto;
    margin-right: 5px;    
}

img {
    margin: 5px;
    width: 60px;
    border-radius: 60px;
    flex: 1;
}

p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 2px;
}

button {
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;

    border: none;
    border-radius: 4px;

    background-color: rgb(91, 143, 255);
    color: white;
    
    font-weight: bold;
    
    transition: background-color 0.4s;
}
button:hover {
    background-color: rgb(124, 165, 252);    
}

button:active {
    background-color: rgb(43, 110, 253);    
}